AlignAfterOpenBracket: BlockIndent
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
IndentCaseLabels: true
InsertBraces: true
