AlignAfterOpenBracket: BlockIndent
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlignTrailingComments: Never
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 120
IndentCaseLabels: true
IndentWidth: 4
InsertBraces: true
ReflowComments: false
